{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Benvenuto nella tua dashboard!</h2>

    {% if current_user.is_authenticated %}
        <div class="dashboard-buttons" style="max-width: 400px; margin: 0 auto; text-align: center;">
            <a href="{{ url_for('auth.main_operator') }}" class="btn btn-primary">Vai alla tua HomePage</a>
        </div>

        <hr style="margin: 40px 0;">

        <div class="dashboard-buttons" style="max-width: 400px; margin: 0 auto; text-align: center;">
            <h4>Sezione Admin</h4>
            <a href="{{ url_for('admin.main_admin') }}" class="btn btn-primary">Vai alla sezione Admin</a>
        </div>

    {% else %}

        <div class="dashboard-buttons" style="max-width: 400px; margin: 0 auto; text-align: center;">
            <h4>Accedi come Operatore</h4>
            <a href="{{ url_for('auth.signin_operator') }}" class="btn btn-primary">SignIn</a>
            <a href="{{ url_for('auth.login_operator') }}" class="btn btn-primary">LogIn</a>
        </div>

        <hr style="margin: 40px 0;">

        <div class="dashboard-buttons" style="max-width: 400px; margin: 0 auto; text-align: center;">
            <h4>Sezione Admin</h4>
            <a href="{{ url_for('admin.signin_admin') }}" class="btn danger">SignIn Admin</a>
            <a href="{{ url_for('admin.login_admin') }}" class="btn danger">LogIn Admin</a>
        </div>

    {% endif %}
{% endblock %}